FREQTRADE__EXCHANGE__KEY=replace_me
FREQTRADE__EXCHANGE__SECRET=replace_me
FREQTRADE__API_SERVER__JWT_SECRET_KEY=replace_me
FREQTRADE__API_SERVER__USERNAME=freqtrader
FREQTRADE__API_SERVER__PASSWORD=replace_me
FREQTRADE__TELEGRAM__TOKEN=replace_me
FREQTRADE__TELEGRAM__CHAT_ID=replace_me
